---
defaultTitle: "Billy Bunn"
---
{% set css %}
{% include "../css/normalize.css" %}
{% include "../css/font-scale.css" %}
{% include "../css/space-scale.css" %}
{% include "../css/base.css" %}
{% include "../css/colors.css" %}
{% include "../css/type.css" %}
{% include "../css/gradient.css" %}
{% endset %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description" content="billybunn.io 🚧 Under Construction 🚧" />
  <title>{% if title %}{{ title }} · {{ defaultTitle }}{% else %}{{ defaultTitle }}{% endif %}</title>
  <style>
    {{ css | postcss | safe }}    
  </style>
  {# Font loading #}
  <script>
    (function () {

        // Optimization for Repeat Views
        // if (sessionStorage.fontsLoadedFoutWithClass) {
        //     document.documentElement.className += " fonts-loaded";
        //     return;
        // }

        if ("fonts" in document) {
            document.fonts.load("1em 'Figure Subset'")
              .then(() => {
                document.documentElement.className += " fonts-loaded-1";
                console.log('fonts-loaded-1');
                Promise.all([
                    document.fonts.load("400 1em Figure"),
                    document.fonts.load("700 1em Figure"),
                    document.fonts.load("italic 1em Figure"),
                    document.fonts.load("italic 700 1em Figure")
                ]).then(function () {
                    document.documentElement.className += " fonts-loaded-2";
                    console.log('fonts-loaded-2');
                    // Optimization for Repeat Views
                    // sessionStorage.fontsLoadedFoutWithClass = true;
                });
            })
        }
    })();
</script>
</head>
<body>
  <header>
    <div class='layout'>
      <h1 class="gradient-text"><a href="/">billybunn.io</a></h1>
      <nav>
        <ul>
          <li><a href="/pages/">Pages</a></li>
          <li><a href="/404/">404</a></li>
        </ul>
      </nav>
    </div>
  </header>
  <main>{{ content | safe }}</main>
  <footer>
    <div class="layout">
      <span style="font-size: 5em;">✌🏻</span>
    </div>
  </footer>
</body>

</html>