---
defaultTitle: "Billy Bunn"
---
{% set css %}
{% include "../css/normalize.css" %}
{% include "../css/base.css" %}
{% include "../css/font-size.css" %}
{% include "../css/gradient.css" %}
{% endset %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description" content="billybunn.io 🚧 Under Construction 🚧" />
  <title>{% if title %}{{ title }} · {{ defaultTitle }}{% else %}{{ defaultTitle }}{% endif %}</title>
  <style>
    {{ css | safe }}    
  </style>
</head>
<body>
  <header>
    <div class='layout'>
      <h1 class="gradient-text"><a href="/">Billy Bunn</a></h1>
      <nav>
        <ul>
          <li><a href="/pages/">Pages</a></li>
          <li><a href="/404/">404</a></li>
        </ul>
      </nav>
    </div>
  </header>
  <main>{{ content | safe }}</main>
  <footer>
    <div class="layout">
      <span style="font-size: 5em;">✌🏻</span>
    </div>
  </footer>
</body>

</html>