---
layout: base.njk
---
<article class="layout">
    {% if title %}<h1>{{ title }}</h1>{% endif %}
    {% if date %}<p class="font-size-step--1 italic" style="margin-top: var(--step--3)"><time datetime="{{ date }}">{{ date }}</time></p>{% endif %}
    {{ content | safe }}
</article>
