---
layout: page.njk
title: Changelog
---
  <style>
  section article {
    padding-bottom: var(--step-1);
    padding-top: var(--step-1);
  }
  section > article:first-of-type {
    padding-top: 0;
  }
  section > :first-child, section article > :first-child {
    margin-top: 0;
  }
  section > :last-child, section article > :last-child {
    margin-bottom: 0;
  }
  section h1,
  section h2,
  section h3,
  section h4,
  section h5,
  section h6 {
    margin-bottom: var(--step-0);
  }
  section article h1,
  section article h2,
  section article h3,
  section article h4,
  section article h5,
  section article h6 {
    margin-bottom: var(--step--2);
  }
  .done, .done a {
    text-decoration: line-through;
    {# text-decoration-color: var(--text-color); #}
  }
  </style>
<section>
  <h2>Merged pull requests</h2>
  {% for pr in githubPrs %}
  {% set date = pr.createdAt.substring(0, 10) %}
  <article>
    <h3><a href="{{ pr.url }}"><time datetime="{{ date }}">{{ date }}</time> · {{ pr.titleHTML | safe }}</a></h3>
    {# {% if pr.body %}<p>{{ pr.body }}</p>{% endif %} #}
    {# using bodyHTML for now because it includes linked issue URLs. However, adds a bunch of GitHub-generated HTML attributes… #}
    {% if pr.bodyHTML %}{{ pr.bodyHTML | safe }}{% endif %}
  </article>
  {% endfor %}
</section>
<section>
  <h2>Issues</h2>
  {% for issue in githubIssues %}
  {% set date = issue.createdAt.substring(0, 10) %}
  <article {% if issue.closed %}class="done"{% endif %}>
    <h3><a href="{{ issue.url }}"><time datetime="{{ date }}">{{ date }}</time> · {{ issue.titleHTML | safe }}</a></h3>
    {% if issue.bodyHTML %}{{ issue.bodyHTML | safe }}{% endif %}
  </article>
  {% endfor %}
</section>