/* Layout */
* {
  box-sizing: border-box;
}
*:before,
*:after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  min-height: 100vh;
  flex-flow: column nowrap;
  margin: 0;
  display: flex;
}

body > main {
  flex: 1 0 auto;
}

body > header,
body > footer {
  flex-shrink: 0;
}

.layout {
  margin: 0px auto;
  max-width: 95%;
  width: 1440px;
}

.layout > * {
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  /* TODO: adjust for ideal line length */
  width: 780px;
}

.layout > :first-child {
  margin-top: 0;
}

.layout > :last-child {
  margin-bottom: 0;
}

main .layout {
  padding: var(--space-l) 0px var(--space-3xl) 0px;
}

main img {
  max-width: 100%;
}

/* Header layout */
header .layout {
  padding: var(--space-2xs) 0px;
}

header h1 a {
  text-decoration: none;
}

nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li:not(:first-child) {
  margin-left: 1em;
}

/* Footer */
footer .layout {
  padding: var(--space-m) 0px var(--space-m) 0px;
}
footer .layout > * {
  display: block;
}

/* Fix GitHub HTML emoji spacing */
.g-emoji {
  background-clip: unset;
  -webkit-background-clip: unset;
  color: var(--text-color);
}
*:not(.g-emoji) + .g-emoji::before {
  content: " ";
}
