:root {
  --bg-color: #1b1b1b;
  --bg-size: 900vw;
  --text-color: #fdfdfd;
  --accent-color: #ff00c1;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}

body *::selection {
  background-color: var(--accent-color);
  color: var(--bg-color);
}

a,
a:visited {
  color: inherit;
}

a > code,
a code {
  text-decoration-color: var(--accent-color);
}

code {
  background: #212121;
  border-radius: 0.1em;
  color: var(--accent-color);
  filter: drop-shadow(0px 0px 0.2em rgba(255, 0, 193, 0.25));
  padding: 0.05em 0.15em;
}
