/*

color: #ff00c1;
color: #9600ff;
color: #4900ff;
color: #00b8ff;
color: #00fff9;
color: #ff00c1;

}
*/

@keyframes change {
  0% {
    color: #ff00c1;
  }

  20% {
    /* does not meet contrast ratio requirements */
    /* color: #b64dff; */
    color: #9600ff;
  }

  40% {
    /* does not meet contrast ratio requirements */
    color: #4900ff;
    /* color: #9165ff; */
  }

  60% {
    color: #00b8ff;
  }

  80% {
    color: #00fff9;
  }

  100% {
    color: #ff00c1;
  }
}

.gradient-text,
a:not(code, a code, a + code, a > code, code a, code > a) {
  animation: change 30s linear infinite;
  color: var(--accent-color);
  text-underline-offset: 0.18em;
  text-decoration-thickness: from-font;
  transition: text-decoration-color 800ms ease-in 150ms;
}

.gradient-text code,
a > code {
  transition: none;
}

.gradient-text:hover,
a:hover, .done a:hover {
  text-decoration-color: var(--text-color);
  transition: text-decoration-color 300ms ease-out;
}

