
body,
p {
  font-size: var(--step-0);
  font-weight: 400;
  line-height: 1.5;
}
p {
  margin-bottom: var(--space-s);
  margin-top: var(--space-s);
}
h1,
h2,
h3,
h4,
h5 {
  font-weight: 700;
  line-height: 1.2;
}
h1 {
  font-size: var(--step-4);
  margin-bottom: var(--space-2xs);
  margin-top: var(--space-2xl);
}
h2 {
  font-size: var(--step-3);
  margin-bottom: var(--space-2xs);
  margin-top: var(--space-xl);
}
h3 {
  font-size: var(--step-2);
  margin-bottom: var(--space-2xs);
  margin-top: var(--space-l);
}
h4 {
  font-size: var(--step-1);
  margin-bottom: var(--space-2xs);
  margin-top: var(--space-m);
}
h5 {
  font-size: var(--step-0);
  margin-bottom: var(--space-2xs);
  margin-top: var(--space-m);
}

/* @font-face {
  font-family: Locale;
  src: url('/fonts/locale/Locale-Medium.woff2') format('woff2'),
       url('/fonts/locale/Locale-Medium.woff') format('woff');
  font-display: swap;
} */
/* @font-face {
  font-family: Lato;
  src: url('font-lato/lato-bold-webfont.woff2') format('woff2'),
       url('font-lato/lato-bold-webfont.woff') format('woff');
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: Lato;
  src: url('font-lato/lato-italic-webfont.woff2') format('woff2'),
       url('font-lato/lato-italic-webfont.woff') format('woff');
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: Lato;
  src: url('font-lato/lato-bolditalic-webfont.woff2') format('woff2'),
       url('font-lato/lato-bolditalic-webfont.woff') format('woff');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
} */
body {
  /* font-family: Locale, Georgia, sans-serif; */
}